<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <title>NOEMI_Modern_ru</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{% static "css/style.css" %}">
  </head>
  <body> 
     <header class="header">
	  <div class="content">
	    <div class="header-top">
	      <img class="logo" src="https://netology-code.github.io/html-2-diploma/sources/images/noemi-logo.svg" alt>
	      <nav> <!-- navigation menu -->
		    <ul class="menu">
			  <li class="menu-item" >
			    <a class="link" href="#0">Главная</a>
			  </li>
			  <li class="menu-item">
			    <a class="link" href="#0">Посты</a>
			  </li>
			  <li class="menu-item">
			    <a class="link" href="#0">Статьи</a>
			  </li>
			  <li class="menu-item">
			    <a class="link" href="#0">Теги</a>
			  </li>
			  <li class="menu-item">
			    <a class="link" href="#0">Темы</a>
			  </li>
			  <li class="menu-item">
			    <a class="link" href="#0">Контакты</a>
			  </li>
			</ul>
	      </nav>
		</div>
	    <h1 class="title">Блог о творчестве, спорте,<br>и образе жизни</h1>
	  </div>
	</header>
	<div class="page">
	  <div class="content">
	    <main class="main">
		  <section class="main-section">
		    <img class="main-img" src="https://netology-code.github.io/html-2-diploma/sources/images/last-post1.jpg" alt="Человек идёт по воде вдоль песачанного пляжа">
			<article class="main-article">
			  <header>
			    <div> <!-- article tags -->
				  <ul class="main-article-tags">
				    <li class="main-article-tag">
					  <a class="link" href="#0">travel</a>
					</li>
					<li class="main-article-tag">
					  <a class="link" href="#0">health</a>
					</li>
				  </ul>
				</div>
				<h2 class="caption"><a class="link" href="#0">10 мест, ради которых стоит проснуться на рассвете</a></h2>
				<div class="meta">
				  <span class="meta-time">10 июня 2019</span>
				  <span class="meta-author">Неизвестный автор</span>
				</div>
			  </header>
			  <div class="desc">
			    <p class="text">
			      Итак, вы в Питере. Раннее утро. Лед с рек и каналов уже ушел, запущены фонтаны города... Музеи еще закрыты. Что посмотреть?
			    </p>
			  </div>
			</article>
		  </section>
		  <section class="main-section">
		    <img class="main-img" src="https://netology-code.github.io/html-2-diploma/sources/images/last-post2.jpg" alt="Девушка занимается йогой на морском берегу">
			<article class="main-article">
			  <header>
			    <div> <!-- article tags -->
				  <ul class="main-article-tags">
				    <li class="main-article-tag">
					  <a class="link" href="#0">health</a>
					</li>
					<li class="main-article-tag">
					  <a class="link" href="#0">lifestyle</a>
					</li>
				  </ul>
				</div>
				<h2 class="caption"><a class="link" href="#0">Йога для начинающих в домашних условиях</a></h2>
				<div class="meta">
				  <span class="meta-time">10 июня 2019</span>
				  <span class="meta-author">Неизвестный автор</span>
				</div>
			  </header>
			  <div class="desc">
			    <p class="text">
			      Расскажем, какие упражнения выбрать и как сделать коврик для занятий йогой из того, что можно найти в шкафу.
			    </p>
			  </div>
			</article>
		  </section>
		  <section class="main-section">
		    <img class="main-img" src="https://netology-code.github.io/html-2-diploma/sources/images/last-post3.jpg" alt="Девушка сидит на плечах парня, в толпе на музыкальном фестивале">
			<article class="main-article">
			  <header>
			    <div> <!-- article tags -->
				  <ul class="main-article-tags">
				    <li class="main-article-tag">
					  <a class="link" href="#0">music</a>
					</li>
				  </ul>
				</div>
				<h2 class="caption"><a class="link" href="#0">Лучшие музыкальные фестивали этого лета</a></h2>
				<div class="meta">
				  <span class="meta-time">10 июня 2019</span>
				  <span class="meta-author">Неизвестный автор</span>
				</div>
			  </header>
			  <div class="desc">
			    <p class="text">
			      Лето на носу, а с ним и музыкальные фестивали. На каком же из них вы разобьёте свою палатку? 
			    </p>
			    <p class="text">
			      Мы составили список лучших летних фестивалей по всему миру.
			    </p>
			  </div>
			</article>
		  </section>
		  <section class="main-section">
		    <img class="main-img" src="https://netology-code.github.io/html-2-diploma/sources/images/last-post4.jpg" alt="Еда на столе">
			<article class="main-article">
			  <header>
			    <div> <!-- article tags -->
				  <ul class="main-article-tags">
				    <li class="main-article-tag">
					  <a class="link" href="#0">lifestyle</a>
					</li>
					<li class="main-article-tag">
					  <a class="link" href="#0">food</a>
					</li>
				  </ul>
				</div>
				<h2 class="caption"><a class="link" href="#0">Наукоёмкий подход к кулинарии</a></h2>
				<div class="meta">
				  <span class="meta-time">10 июня 2019</span>
				  <span class="meta-author">Неизвестный автор</span>
				</div>
			  </header>
			  <div class="desc">
			    <p class="text">
			      Узнаем основы проектирования новых пищевых и около-пищевых опытов, вскроем физику, химию и микробиологию еды.
			    </p>
			  </div>
			</article>
		  </section>
		  <section class="main-section">
		    <img class="main-img" src="https://netology-code.github.io/html-2-diploma/sources/images/last-post5.jpg" alt="Подушка с принтом">
			<article class="main-article">
			  <header>
			    <div> <!-- article tags -->
				  <ul class="main-article-tags">
				    <li class="main-article-tag">
					  <a class="link" href="#0">lifestyle</a>
					</li>
					<li class="main-article-tag">
					  <a class="link" href="#0">interior</a>
					</li>
					<li class="main-article-tag">
					  <a class="link" href="#0">art</a>
					</li>
				  </ul>
				</div>
				<h2 class="caption"><a class="link" href="#0">Делаем модные принты на подушках для интерьера</a></h2>
				<div class="meta">
				  <span class="meta-time">10 июня 2019</span>
				  <span class="meta-author">Неизвестный автор</span>
				</div>
			  </header>
			  <div class="desc">
			    <p class="text">
			      Подушки для дивана целесообразнее заказать в съемных чехлах на молнии, если потребуется чистка подушек, проще снять чехлы, чем везти подушку в химчистку.
			    </p>
			  </div>
			</article>
		  </section>
		  <section class="main-section">
		    <img class="main-img" src="https://netology-code.github.io/html-2-diploma/sources/images/last-post6.jpg" alt="Девушка и парень стоят на скале над обрывом в горах">
			<article class="main-article">
			  <header>
			    <div> <!-- article tags -->
				  <ul class="main-article-tags">
				    <li class="main-article-tag">
					  <a class="link" href="#0">travel</a>
					</li>
					<li class="main-article-tag">
					  <a class="link" href="#0">lifestyle</a>
					</li>
				  </ul>
				</div>
				<h2 class="caption"><a class="link" href="#0">Как первый раз отправиться в горы?</a></h2>
				<div class="meta">
				  <span class="meta-time">10 июня 2019</span>
				  <span class="meta-author">Неизвестный автор</span>
				</div>
			  </header>
			  <div class="desc">
			    <p class="text">
			      Для начала нужно определиться, в каком формате пройдёт ваше путешествие. Это зависит от многих факторов, не только от ваших желаний и интересов.
			    </p>
			  </div>
			</article>
		  </section>
		  <section class="main-section">
		    <img class="main-img" src="https://netology-code.github.io/html-2-diploma/sources/images/last-post4.jpg" alt="Еда на столе">
			<article class="main-article">
			  <header>
			    <div> <!-- article tags -->
				  <ul class="main-article-tags">
				    <li class="main-article-tag">
					  <a class="link" href="#0">lifestyle</a>
					</li>
					<li class="main-article-tag">
					  <a class="link" href="#0">food</a>
					</li>
				  </ul>
				</div>
				<h2 class="caption"><a class="link" href="#0">Наукоёмкий подход к кулинарии</a></h2>
				<div class="meta">
				  <span class="meta-time">10 июня 2019</span>
				  <span class="meta-author">Неизвестный автор</span>
				</div>
			  </header>
			  <div class="desc">
			    <p class="text">
			      Узнаем основы проектирования новых пищевых и около-пищевых опытов, вскроем физику, химию и микробиологию еды.
			    </p>
			  </div>
			</article>
		  </section>
	    </main>
		<div class="sidebar">
	      <aside> <!-- Prewiew of new posts -->
		    <h3 class="sidebar-caption">Новые посты</h3>
			<div class="prewiew-container">
			  <div class="prewiew">
			    <img class="prewiew-img" src="https://netology-code.github.io/html-2-diploma/sources/images/2.jpg" alt>
			    <div class="prewiew-desc">
			      <span class="prewiew-time">10 июня 2019<br></span>
				  <p class="prewiew-caption"><a class="link" href="#0">10 мест, ради которых стоит проснуться</a></p>
			    </div>
			  </div>
			  <div class="prewiew">
			    <img class="prewiew-img" src="https://netology-code.github.io/html-2-diploma/sources/images/151.jpg" alt>
			    <div class="prewiew-desc">
			      <span class="prewiew-time">10 июня 2019<br></span>
				  <p class="prewiew-caption"><a class="link" href="#0">Йога для домашних</a></p>
			    </div>
			  </div>
			  <div class="prewiew">
			    <img class="prewiew-img" src="https://netology-code.github.io/html-2-diploma/sources/images/45.jpg" alt>
			    <div class="prewiew-desc">
			      <span class="prewiew-time">10 июня 2019<br></span>
				  <p class="prewiew-caption"><a class="link" href="#0">Как мы превратили классное место в балкон</a></p>
			    </div>
			  </div>
			  <div class="prewiew">
			    <img class="prewiew-img" src="https://netology-code.github.io/html-2-diploma/sources/images/501.jpg" alt>
			    <div class="prewiew-desc">
			      <span class="prewiew-time">10 июня 2019<br></span>
				  <p class="prewiew-caption"><a class="link" href="#0">Кулинарный подход к науке</a></p>
			    </div>
			  </div>
			  <div class="prewiew">
			    <img class="prewiew-img" src="https://netology-code.github.io/html-2-diploma/sources/images/7.jpg" alt>
			    <div class="prewiew-desc">
			      <span class="prewiew-time">10 июня 2019<br></span>
				  <p class="prewiew-caption"><a class="link" href="#0">Лучшие прически для распущенных волос</a></p>
			    </div>
			  </div>
			</div>
		  </aside>
		  <section class="sidebar-section"> <!-- search -->
		    <form>
			  <label>
		        <span class="visually-hidden">Напишите, что вы хотите найти</span>
		        <input class="input search-input" type="search" placeholder="Найти..." required>
			  </label>
			  <label>
			    <span class="visually-hidden">Запустить поиск</span>
			    <button class="search-button" type="submit"><img class="search-img" src="https://netology-code.github.io/html-2-diploma/sources/images/search.svg" alt></button>
			  </label>
			</form>
		  </section>
		  <section class="sidebar-section">  <!-- email -->
		    <form>
		      <h3 class="sidebar-caption">Рассылка</h3>
			  <label>
			    <span class="visually-hidden">Введите ваш e-mail, что-бы подписаться на рассылку</span>
			    <input class="input email-input" type="email" placeholder="Ваш email-адрес" required>
			  </label>
			  <button class="email-button" type="submit">Подписаться</button>
			</form>
		  </section>
		  <section class="sidebar-section"> <!-- tags -->
		    <h3 class="sidebar-caption">Теги</h3>
			<div class="tags-container">
			  <a class="link tag" href="#0">Fashion</a>
			  <a class="link tag" href="#0">Music</a>
			  <a class="link tag" href="#0">Lifestyle</a>
			  <a class="link tag" href="#0">Art</a>
			  <a class="link tag" href="#0">Interior</a>
			  <a class="link tag" href="#0">Travel</a>
			  <a class="link tag" href="#0">Food</a>
			  <a class="link tag" href="#0">Health</a>
			</div>
		  </section>
		  <section class="sidebar-section"> <!-- themes -->
		    <h3 class="sidebar-caption">Темы</h3>
			<ul class="themes-container">
			  <li>
			    <a class="link theme" href="#0">Красота<sup class="sup">12</sup></a>
			  </li>
			  <li>
			    <a class="link theme" href="#0">Здоровье<sup class="sup">4</sup></a>
			  </li>
              <li>
			    <a class="link theme" href="#0">Образ жизни<sup class="sup">145</sup></a>
			  </li>
			  <li>
			    <a class="link theme" href="#0">Музыка<sup class="sup">28</sup></a>
			  </li>
			  <li>
			    <a class="link theme" href="#0">Спорт<sup class="sup">62</sup></a>
			  </li>
			  <li>
			    <a class="link theme" href="#0">Йога<sup class="sup">8</sup></a>
			  </li>
			</ul>
		  </section>
	    </div>
	  </div>
	</div>
	<footer class="footer">
	  <div class="content">
	    <address class="socials">
	      <div>
		    <span class="visually-hidden">Сайт дизайнеров Дриббл</span>
		    <a href="#0"><img class="social-pic" src="https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg" alt></a>
		  </div>
		  <div>
		    <span class="visually-hidden">Фотохостинг Пинтерест</span>
		    <a href="#0"><img class="social-pic" src="https://netology-code.github.io/html-2-diploma/sources/images/social/002-pinterest.svg" alt></a>
		  </div> 
		  <div>
		    <span class="visually-hidden">Служба микроблогов Тамблер</span>
		    <a href="#0"><img class="social-pic" src="https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg" alt></a>
		  </div>
	    </address>
	    <div class="copyright">
	      <a class="copyright-link" href="#0"><span class="copyright-text">Copyright © 2009-2019 City Blog LLC.</span></a>
	    </div>
	  </div>
	</footer>
  </body>
</html>